.left {
  height: 600px;
  margin-left: -100px;
  text-align: center;
  flex: 1;
}
.form-btn1{
  background-color: #001e28;
  margin-top: 200px;
  padding: 20px 25px;
  border: 0;
  color: #818181;
  border-radius: 40px;
  font-size: 25px;
}
.form-btn1:hover{
  background-color: #003648;
}
.container {
  height: 600px;
}

.right {
  flex: 5;
  margin-right: -100px;
}

.sidenav {
  height: 100%;
  width: 260px;
  z-index: 1;
  top: 0;
  left: 0px;
  background-color: #001e28;
  overflow-x: hidden;
  padding-top: 0px;
}

.table_name {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #001e28;
  display: block;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
    width: 100px;
  }
  .form-btn1{
    margin-top: 10px;
    border-radius: 0;
    font-size: 18px;
  }
  .left{
    margin-left: 0px;
  }
  .right{
    margin-right: 0px;
  }

  .sidenav a {
    font-size: 18px;
  }
}