body {
    font-family: "Lato", sans-serif;
  }
  .logo {
    font-style: italic;
    z-index: 2;
}
.logo img {
    border-radius: 20px;
    height: 100px;
    width: auto;
    margin-top: 10px;
}
.header-top {
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
  .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #001e28;
    overflow-x: hidden;
    padding-top: 190px;
  }
  
  .sidenav a {
    padding: 36px 18px 6px 46px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }